/*Tags */
 
body{
    background-position: center;
    background-image: url("../Images/Background.jpg");
    background-color: black ;
    font-family: Copperplate,Copperplate Gothic Light,fantasy;
    /* background-repeat: no-repeat; */

}
hr{
    line-height: normal;
}
h1{
    color: #A8F4FE;
}
h3{
    color: #A8F4FE;
}
p{
    color: #A8F4FE;
}
button{
    background-color: transparent;
    /* border: 0px; */
    white-space: nowrap;
}


/*Class */
.header-box{
    width: 50%;
    height: 20%;
    
}

.col-lg{
    padding-top: 5%;
    padding-bottom: 6%;
    padding-left: 5%;
    padding-right: 6%;
    
}

.glow-button {
    border-width: medium;
    border-color: transparent;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    
}

.glow-button:hover {
    animation-play-state: running;
    animation-duration: 0.5s;
    animation-name: button-colours;
    animation-iteration-count: infinite;  
    
}

.glow-button::after {
    animation-play-state: paused;
}


/*ID */
#topbox{
    margin-top: 1%;
    padding-top: 1%;
    
}
#header{
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* #firstrow{
    background-color: brown;
} */

#bottombox{
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#R1{
    text-align: end;
}
#R2{
    text-align: end;
}
#L1{
    text-align: left;
}
#L2{
    text-align: left;
}

/* Animations */
@keyframes button-colours {
    0% {border-color: #ff0000;}
    14% {border-color: #ff7300;}
    28% {border-color: #fffb00;}
    42% {border-color: #48ff00;}
    56% {border-color: #00ffd5;}
    70% {border-color: #002bff;}
    84% {border-color: #7a00ff;}
    98% {border-color: #ff00c8;}
    100% {border-color: #ff0000;}
    
}
